<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Policlinico</title>


    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/estilos.css" rel="stylesheet" />
   

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  
       
            <nav class="menu menu--sebastian navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                       <div  style="width: 210px">
                           
                       </div>
                        <style>
                            img.logo {
                                width: 215px;
                            }
                        </style>
                        <picture>
                           
                            <img class="logo" src="/Content/img/logo.png">
                           
                        </picture>
</div>
                    <ul class="nav navbar-nav menu__list" id="m_nav_list">

                        <li class="dropdown">
                        
                            <a class="menu__link dropdown-toggle" data-toggle="dropdown" href="#">Admision <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                         @if (User.IsInRole("AdminClientes") || User.IsInRole("Admin"))
                         {
                                <li class="nav navbar-nav"> @Html.ActionLink("pacientes", "Index", "pacientes")</li>
                                <li>@Html.ActionLink("Admision", "Index", "Admision")</li>
                         }
                            </ul>
                            
                        </li>

                        <li class="dropdown">
                            <a class="menu__link dropdown-toggle" data-toggle="dropdown" href="#">Administracion de perfiles medicos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                  @if (User.IsInRole("Adminperfiles"))
                                  {
                                <li> @Html.ActionLink("examenes", "Index", "examenes")</li>
                                <li>@Html.ActionLink("empresas", "Index", "empresas")</li>
                                <li>@Html.ActionLink("medicos", "Index", "medicos")</li>
                                <li>@Html.ActionLink("Campanias", "Index", "Campanias")</li>
                                <li>@Html.ActionLink("perfils", "Index", "perfils")</li>
                                  }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="menu__link dropdown-toggle" data-toggle="dropdown" href="#">Administracion del sistemas <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav navbar-nav"> @Html.ActionLink("AspNetRoles", "Index", "AspNetRoles")</li>
                                <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                <li>@Html.ActionLink("History", "Index", "History")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="menu__link dropdown-toggle" data-toggle="dropdown" href="#">Tablas Maestro<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav navbar-nav"> @Html.ActionLink("tipo_examen_ocupacional", "Index", "tipo_examen_ocupacional")</li>
                                <li>@Html.ActionLink("especialidads", "Index", "especialidads")</li>
                            </ul>
                        </li>
}
                    </ul>

                    @Html.Partial("_LoginPartial")

                </div>
            </nav>




            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p></p>
                </footer>
            </div>
        

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
