@model IEnumerable<policlinico__con_migracion.Migracion.atencion_admision>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empresa.sRazon_social)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examenes.nombre_examen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paciente.area_trabajo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perfil.nombre_perfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_examen_ocupacional.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_atencion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_examen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.local)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empresa.sRazon_social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.examenes.nombre_examen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.area_trabajo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perfil.nombre_perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_examen_ocupacional.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_atencion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_examen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.local)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
